.window{
    width: 100%;
    height: 100%;
}
.container{
    cursor: url(assets/cursor.png) 16 16, auto;
    width: 100vw;
    height: 88vh;
    }
@font-face {
    font-family: minecraft;
    src: url(assets/better-vcr_0.ttf);
}
.scored-container{
    font-family: minecraft;
    display: flex;
    justify-content: space-evenly;
    width: 99%;
    height: 12%;
    box-sizing: border-box;
    padding: 1.8vw 1vh;
    /* border: 1px solid black; */
    font-size:1.9vh ;
    text-shadow: 0.3em 0 0.3em;
}
@media (min-width:961px){
    .scored-container{
        font-size: 1.7vw;
        
    }
}
#bg{
    width: 100vw;
	height: 100vh; 
    /* background: rgba(0, 0, 0, 10); */
	background-image: url(assets/sound/backround.gif);
    background-size: cover;
    margin: 0;
    justify-content: center;
    align-items: center;
}

html{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
/* @media(max-width:900){

} */